---
---

.content {
  width: 45rem;
  margin: 0 auto;
}

.sr-only {
	// https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

body {
	background-image: linear-gradient(
		150deg, #232626 25%,
		#2c2e30 25%,
		#2c2e30 50%,
		#232626 50%,
		#232626 75%,
		#2c2e30 75%,
		#2c2e30 100%
	);
	background-size: 120.00px 69.28px;
	margin: 2em;
}

#main {
	width: 1024px;
	padding: 1em;
	margin: 0 auto;
	background-image: linear-gradient(
		34deg, #f5f5f5 35.71%, #f0ebeb 35.71%,
		#f0ebeb 50%, #f5f5f5 50%, #f5f5f5 85.71%,
		#f0ebeb 85.71%, #f0ebeb 100%);
	background-size: 12.52px 8.44px;
	border-radius: 1em;
}

#top {
	display: flex;

	#logo {
		img {
			width: 300px;
			height: 300px;
		}
	}

	#blurb {
		h2 {
			display: inline-block;
			font-weight: bold;
			font-size: 28px;
			margin: 0 -0.4em 1em -0.4em;
			padding: 0.1em 0.4em;
			border-radius: 0.8em 0.3em;
			background: transparent;
			background-image: linear-gradient(
				to right,
				rgba(255, 225, 0, 0.1),
				rgba(255, 225, 0, 0.7) 4%,
				rgba(255, 225, 0, 0.3)
			);
			-webkit-box-decoration-break: clone;
			box-decoration-break: clone;
		}
		padding: 2em;
		font-family: sans-serif;
		color: #2e292a;
	}
}


#sweets {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.sweet {
		flex: 0 32%;
		margin-bottom: 2%; /* (100-32*3)/2 */
		border-radius: 1em;
		display: flex;
		background-color: rgb(46, 41, 42);
		color: #fff;
		.sweet-header a {
			color: #fff;
		}
		.sweet-image {
			padding: 1em;
			img {
				width: 100px;
				height: 100px;
				border-radius: 50%;
			}
		}
		.sweet-inner {
			padding: 1em;
		}
		.sweet-cost {
			display: block;
			text-align: right;
			font-style: italic;
			font-size: 0.9em;
			span {
				background-color: #555;
				padding: 0.2em 0.3em;
			}
		}
	}
}
