<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% seo %}
		<link rel="stylesheet" href="{{ "/assets/styles.css?v=" | append: site.github.build_revision | relative_url }}">
	</head>
	<body>
		<div id="main">
			<section id="top">
				<h1 id="logo">
					<img src="{{ "/assets/images/logo.gif" | relative_url }}" />
					<span class="sr-only">All you can sweet</span>
				</h1>
				<div id="blurb">
					{{ content }}
				</div>
			</section>
			<section id="sweets">
				{% for sweet in site.sweets offset:offset %}
				<a href="{{ sweet.url | relative_url }}" class="sweet">
					<div class="sweet-image">
						<img src="{{ "/assets/sweets-thumbnails/" | relative_url }}{{ sweet.image }}" />
					</div>
					<div class="sweet-inner">
						<h3 class="sweet-header">
							{{ sweet.title }}
						</h3>
						<div "sweet-content">
							{{ sweet.description }}
						</div>
						<div class="sweet-cost">
							<span>
								${{ sweet.cost | precision: 3 }} / {{ sweet.grams }}g (approx)
							</span>
						</div>
					</div>
				</a>
				{% endfor %}
			</section>
		</div>
	</body>
</html>
