<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% seo %}
		<link rel="stylesheet" href="{{ "/assets/styles.css?v=" | append: site.github.build_revision | relative_url }}">
	</head>
	<body>
		<div id="main">
			<section id="top">
				<a id="logo" href="{{ '/' | relative_url }}">
					<h1>
						<img src="{{ "/assets/images/logo.gif" | relative_url }}" />
						<span class="sr-only">All you can sweet</span>
					</h1>
				</a>
				<div id="blurb">
					{{ content }}
				</div>
			</section>
		</div>
	</body>
</html>
